.cover {
  width: min(1184px, 100vw);
  height: min(740px, calc(100vw * 5 / 8));
  margin: 0 auto;
  position: relative;
  background-image: url("../../images/cover-trains.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
