.cover {
  width: 1184px;
  height: 740px;
  margin: 0 auto;
  position: relative;
  background-image: url("../../images/cover-trains.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
