.cover__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(42, 44, 47, 0.3);
  transition: background 0.15s ease-in-out;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

.cover__overlay:hover {
  background: rgba(42, 44, 47, 0.8);
}
