.footer__navigation {
  list-style-type: none;
  display: grid;
  grid-template-rows: 1;
  grid-auto-flow: column;
  align-content: end;
  gap: 18px;
}

@media screen and (max-width: 768px) {
  .footer__navigation {
    grid-template-columns: 1;
    grid-auto-flow: row;
    gap: 32px;
    margin-bottom: 48px;
  }
}
